*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-image: url(images/patt.png);
}
.header{
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 0;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.logo{
    padding-top: 7px;
}
.col-md-3{
    width: 25%;
}
.col-md-6{
    width: 50%;
}
[class*="col-"]{
    float: left;
}
.menu li{
    width: 25%;
    float: left;
    position: relative;
  
}
.menu li:first-child{
    border-left: 1px solid rgb(44, 112, 183);
}

.menu a{
    border-right: 1px solid rgb(44, 112, 183);
    display: block;
    height: 50px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    font-weight: 300;
    font-size: 21px;
    color: rgb(255, 255, 255);
}

.menu li:hover{
    background-color: rgb(44, 112, 183);
    color: rgb(255, 255, 255)
}
.arrow {
    float: right;
    margin-top: 22px;
    margin-right: 10px;
    height: 7px;
    width: 10px;
    background: url(images/arrow.png) no-repeat ;
}
.menu li:hover .arrow{
    background: url(images/arrow_white.png) no-repeat ;
  }
.row:after, .menu ul:after, .all_products:after{
    content: "";
    display: block;
    clear: both;
}
.col-9{
    width: 80%;
}
.col-3{
    width: 20%;
    position:relative;
}
.search {
   width: 200px;
   height: 40px;
   border: 1px solid rgb(44, 112, 183);
   margin-top:5px;
   margin-left:30px;
   position: relative;
}
.search input{
    height: 39px;
    width: 165px;
    border:none;
    padding-left: 5px;
    background-color:rgba(44, 112, 183, 0)
}
.search button{
    background: rgb(44, 112, 183) url(images/search.png) no-repeat 50% 50%;
    border:none;
    height: 30px;
    width: 30px;
    position: absolute;
    top:4px;
    right: 4px;
}
.cart{
    width:40px;
    height:40px;
    background: rgb(255, 255, 255) url(images/cart.png) no-repeat 50% 50%;
    margin-top:5px;
    float: right;
   
}
.product_count{
    width:15px;
    height:15px;
    background-color:rgb(44, 112, 183);
    border-radius: 10px;
    text-align:center;
    line-height:15px;
    color:rgb(255, 255, 255);
    font-size:13px;
    position:absolute;
    top:0;
    left:10px;
}
.sub-menu{
    position:absolute;
    left:-1px;
    visibility: hidden;
    opacity:0;
    z-index:10;
 
}
.sub-menu > li{
    float:none;
    width: 200%;
}
.sub-menu li:first-child{
    border:none;
}
.sub-menu a{
    display:block;
    border:none;
    background-color:rgb(44, 112, 183);
    color:rgb(255, 255, 255);
    line-height:40px;
    height:40px;
}
.sub-menu a:hover{
    background-color:rgb(255, 255, 255);
    color:rgb(44, 112, 183);
}
li:hover > .sub-menu{
    visibility:visible;
    opacity:1;
}
/*-----------------------Products------------------------*/
.top_name{
    padding:30px 0 0 30px;
    width:100%;
    height: 164px;
}
.top_name a{
    text-decoration:none;
    color:rgba(255, 255, 255, 0.5);
}
.top_name span{
    color:rgba(255, 255, 255, 0.5);
    text-decoration:underline;
}
.name{
    position:relative;

}
.name > a{
    display:block;
    color:rgb(255, 255, 255);
    text-decoration:none;
    font-weight:600;
    font-size:40px;
    margin-top:30px;
}

.name select{
    position: absolute;
    right:0;
    top:0;
    width: 270px;
    height: 40px;
    background-color:rgb(44, 112, 183);
    color:rgb(255, 255, 255);
    font-size: 20px;
}



.nav{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    height: 800px;
}

.col-md-9{
    width: 75%;
}
.all_products{
    width: 100%;
}
.col-3_3{
    width: 33%;
}

.device{
    width: 270px;
    height: 650px;
    background-color: rgba(44, 112, 183, 0.75);
    margin-left:30px;
    margin-bottom: 30px;
}
.img{
    background:rgba(255, 255, 255, 0.7) no-repeat;
    width: 100%;
    height: 178px;
    position:relative;
}
.screen{
  width:100%;
  height:100%;
}

.screen img{
    top:0;
  right:0;
  left:0;
  bottom:0;
  margin: auto;
  position: absolute;
}
.square{
    background:url(images/square_blue.png) no-repeat 50% 50%;
    position:absolute;
    top:10px;
    right:10px;
    width: 28px;
    height:28px;
    border:1px solid rgb(44, 112, 183);
}
.square:hover{
    background-color:rgb(44, 112, 183);
    background-image:url(images/square_white.png);
}
.like{
    background: url(images/like_blue.png) no-repeat 50% 50%;
    position:absolute;
    top:48px;
    right:10px;
    height:28px;
    width:28px;
    border:1px solid rgb(44, 112, 183)
}
.like:hover{
    background-color:rgb(44, 112, 183);
    background-image:url(images/like_white.png);
}
.description p{
    color:rgb(255, 255, 255);
    padding-top: 20px;
    padding-left:10px
}
.description p b{
    font-weight:bold;
}
.description p:first-child{
    font-size:28px;
    font-weight: bold;
    padding: 10px;
}
.description p:nth-child(2){
    font-size:15px;
    line-height: 20px;
    padding: 5px;
}
.price{
    width: 170px;
    margin:0 auto;
    padding: 20px 0;
    font-size: 46px;
    color:rgb(255, 255, 255);
}
.price_1{
    position: relative;
    text-align:center;
}
.price_2{
    position: absolute;
    top:0;
    right:0px;
    font-size:20px
}
.buttons{
    width:210px;
    margin:0 auto;
}
.buttons button{
    width:100%;
    height: 48px;
    margin-bottom:30px;
    cursor:pointer;
   
}
.buttons button:first-child, .buttons button:last-child{
    background-color: rgba(255, 255, 255, 0);
    border:1px solid rgb(255, 255, 255);
    color:rgb(255, 255, 255);
    font-weight:600;
    font-size:18px; 
   
}
.buttons button:last-child{
    background-color: rgba(255, 255, 255, 0.3);
    position:relative;
}
.cart_2{
    width:40px;
    height:40px;
    background: url(images/cart_2.png) no-repeat 50% 50%;
    position: absolute;
    top:0px;
    right:0px;
}